/*This is the overall form box style*/
.guestbook-form{
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	
}
.guestbook-form label{
	font-size: 12px;
}

/*This is a container that encompasses specifically the fields*/
.guestbook-form-field-container{
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.form-group > div {
	flex-grow: 1;
}

.form-group textarea {
    width: 100%;
}

.guestbook-form textarea{
	height: 85%;
}

.guest-list-button{
	height: auto;
	justify-self: flex-end;
	align-self: flex-end;
}

.guestbook-entry-list {
	list-style: none;
	padding: 0;
	margin: 5px;
}

.guestbook-entry {
	width: 50%;
	border: 1px solid var(--accent2);
	padding: 10px;
	margin: 0px;
}

.guestbook-entry p{
	padding: 0px;
	margin: 0px;
}
.guestbook-info{
	padding: 10px;
	width: 100%;
	background-color: var(--secondary-bg-color);
}
.guestbook-message{
	color: var(--accent2);
}
.error-text{
	color: var(--accent1);
}

@media only screen and (max-width: 800px) {
	.guestbook-entry{
		width: 100%;
	}


}
