/*  Index Page Stuff */

.index-main-text {
	align-self: flex-start;
}

/*  "Buttons" container */
.button-container {
	display: flex;
	justify-self: flex-end;
	margin-top: auto;
	gap: 5px;
}

/*  Post Preview Block */
.post-preview-container {
	width: 50%;
	align-self: center;
}

.post-preview {
	text-decoration: none;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
}

.post-preview p {
	margin: 2px;
}

.main-logo-container {
	display: flex;
	align-items: flex-end;
	height: 10%;
	width: 80%;
	align-self: center;
	padding: 0
}

.main-logo {
	object-fit: cover;
	height: 100%;
}

@media only screen and (max-width: 800px) {
	.main-logo-container {
		justify-content: center;
	}

	.post-preview-container {
		width: 100%;
	}
}
