.post-list-page-container {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.post-list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.post-list {
	margin: 0px;
	padding: 10px;
	width: 80%;
}

.post-list-pagination-container {
	display: flex;
	justify-content: flex-end;
	width: 80%;
}

.post-category-list{
	display: flex;
	gap: 10px;
	text-decoration: none;
}
