{{ define "content" }}
<h1>About Page</h1>
<p>{{ .Config }}</p>
<p>
	The primary purpose for this webpage is twofold: First, it is to help me learn more about writing web services in Go using their built-in tools and templating engine. Secondly, it is to have an actual online blog that I can write to and kind of catalogue some of my journey learning software, tools, or whatever else I end up doing..
</p>

<p>
	Naturally, one of those purposes will eventually come to an end.. Eventually I will likely have more knowledge of these tools than this page can require, and I'll have moved on to much more complicated projects.. Ideally, I will have made this in such a way that it will be easy to add blog posts, and I'll actually stay on top of it, but we shall see.
</p>
{{ end }}
