{{ define "content" }}
<h1>Faq</h1>
<p>Here is the list of stuff ppl ask me</p>
<ul>
	<li>
		<h2>Why are you so cool?</h2>
		<p>I'm unsure. Many people have asked, and it's possible that the world will never know..</p>
	</li>
	<li>
		<h2>Why are you completely super unemployed?</h2>
		<p>
			Mainly because I cant get anybody to hire me, that would probably be the number one reason. I would be such a good, good worker and honestly just a joy to be around AND productive im SO productive yes.. but alas, nobody want Stckr.
		</p>
	</li>
</ul>
{{ end }}
