{{ define "content" }}
<div class="page-wrapper">
	<h1>Home Page</h1>
	<div class="text-box index-main-text">
		<p>
			Hello! Welcome to my little homepage! This is mostly meant to be a blog for me to talk about things I'm passionate about, as well as maybe a place to collect buttons, be a part of webrings, etc.. 
		</p>
		<p>
			One of my favorite things about this, and about the indie web in general, is that I do not have to adhere to strict "modern web ux standards". I want to focus on stuff like accessibility and a little bit of creativity, without all of the animations, content jumping around, javascript-enabled-only, and other modern problems..
		</p>
	</div>
	{{ template "postpreview" . }}
	<div class="button-container">
		<a href="https://iframe.chat/"><img src="https://iframe.chat/chattable-alt.gif" title="Add a stream chat to your website free with Chattable" alt="Chattable" /></a>
	<!--strawbebby's button 88x31--><a href='https://strawbebby228.neocities.org/' target='_blank'><img src='https://strawbebby228.neocities.org/arts/UI/ButtonPink.gif'></a>
	<!-- <a href="https://transring.neocities.org" target="_top"><img src="https://transring.neocities.org/widget/trans/button.png" alt="transing the internet"></a> -->
	</div>
</div>
{{ end }}

