{{ define "navbar" }}
<nav>
	<a class="nav-link" href="/">Home</a>
	<a class="nav-link" href="/posts">Posts</a>
	<a class="nav-link" href="/about">About</a>
	<a class="nav-link" href="https://stckrz.com/portfolio">Portfolio</a>
	<a class="nav-link" href="/faq">Faq</a>
	<a class="nav-link" href="/guestbook">Guest Book</a>
</nav>
		<ul class="socials-list">
			<li>
				<a href="https://github.com/Stckrz">Github</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/madison-sage-5a45692b7">Linkedin</a>
			</li>
			<li>
				<a href="mailto:mail@stckrz.com">Email</a>
			</li>
		</ul>
{{ end }}
