{{ define "content" }}
<div class="post-list-page-container page-wrapper">
<h1>Posts</h1>
	{{ template "postcategorylist" . }}
	<div class="post-list-container">
		<div class="post-list fieldset-like">
			<h2>
				<span>
					Posts
				</span>
			</h2>
			<ul>
				{{ range .Posts }}
				<li>
					<a href="/posts/{{ .Slug }}">{{ .Title }}</a>
					<p>{{ .Date.Format "Jan 02, 2006" }}</p>
					<p>{{ .Summary }}</p>
				</li>
				{{ else }}
					<li>No blog posts found..</li>
				{{ end }}
			</ul>
		</div>
		<div class="post-list-pagination-container">
			{{ range .PageNumbers }}
			<a href="/posts?page={{ . }}">{{ . }}</a>
			{{ end }}
		</div>
	</div>
</div>
{{ end }}
