{{ define "content" }}
<div class="page-wrapper">
	<h1>Resources</h1>
	<p>This is a list of pages on the web that I think are useful resources for dev work or anything else, that I think deserves more than just a button.</p>
	<ul>
		<h2>
		Useful Websites:
		</h2>
		<li>
			<h3>
			<a href="https://opguides.info/">Opinionated Guides</a>
			</h2>
			<p>This is an excellent resource for programming, engineering, networking, and lots of other stuff.</p>
		</li>
		<li>
			<h3>
			<a href="https://マリウス.com/command-line/">マリウス</a>
			</h2>
			<p>This is a very good resource with a lot of good information regarding command line tools, privacy, security, and many other subjects.</p>
		</li>
	</ul>
	<ul>
		<h2>
		Useful informational github repos:
		</h2>
		<li>
			<p>
			<a href="https://github.com/redecentralize/alternative-internet?tab=readme-ov-file">Alternative Internet</a>
			: collection of networks or technology aimed at denentralization of the modern internet.</p>
		</li>
		<li>
			<p>
			<a href="https://github.com/codecrafters-io/build-your-own-x">Build Your Own X</a>
			: a collection of guides for building your own anything.</p>
		</li>
		<li>
			<p>
			<a href="https://github.com/pluja/awesome-privacy">Awesome Privacy</a>
			: collection of privacy-centered alternatives to popular technologies and platforms</p>
		</li>
	</ul>
</div>
{{ end }}
